//COlor templates

$navBgColor : #262626;
$optionsIcons :#636363;
$isOnline :#35D760;
$fontColor : #858585e5;
$messageColor : #45D6B5;

//Font Family

$thinFont : "Nunito",
sans-serif;

$thickFont : "Montserrat",
sans-serif;

