@import "../../style/template.scss";

.updatePassword {
    // border: 2px solid red;
    height: 100%;
    width: 100%;

    >table {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        tbody {

            >tr {

                >td {
                    padding: .6rem 1rem;

                    font-family: $thinFont;
                    font-weight: bold;

                    >input {
                        background-color: transparent;
                        border: 3px solid $messageColor;
                        padding: 1rem 1rem;
                        width: 16rem;
                        font-size: medium;

                        &:focus {
                            outline: none;
                        }
                    }


                    >button {
                        float: right;
                        padding: .5rem 1rem;
                        margin-left: 11rem;
                        border: 3px solid $messageColor;
                        background-color: transparent;
                        color: $messageColor;
                        font-weight: bold;
                        cursor: pointer;


                        &:hover {
                            background-color: $messageColor;
                            color: white;
                        }
                    }
                }
            }
        }
    }


}